Repository uchicago-capp-30320/new-arrivals-chi, changes with the owners that CODEOWNERS names for each.
All owners: @MadeleineKRoberts, @aaronhaefner, @klinkoberstar, @FedericoDM, @sumslong, @xiomara0

CODEOWNERS:

# Documentation on CODEOWNERS file:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Update this file with the GitHub usernames that are relevant to your repository.

* @MadeleineKRoberts @aaronhaefner
/.github/workflows/ @aaronhaefner @klinkoberstar
/.github/ISSUE_TEMPLATE/ @klinkoberstar @FedericoDM
/new_arrivals_chi/**.py @FedericoDM @MadeleineKRoberts
/new_arrivals_chi/templates/ @sumslong @xiomara0
/new_arrivals_chi/static/ @sumslong @xiomara0
/tests/ @aaronhaefner @klinkoberstar
/*.md @klinkoberstar @FedericoDM
/*.toml @aaronhaefner @klinkoberstar
/*.yaml @aaronhaefner @klinkoberstar

Delete docs/models/data_model.md
  docs/models/data_model.md
Owners: @MadeleineKRoberts, @aaronhaefner

update enpoint doc based on current html implementation
  docs/endpoints/admin.md
  docs/endpoints/general_info.md
  docs/endpoints/health.md
  docs/endpoints/home.md
  docs/endpoints/index.md
  docs/endpoints/legal.md
  docs/endpoints/organization.md
Owners: @MadeleineKRoberts, @aaronhaefner

fixed the precommit
  docs/models/model.md
Owners: @MadeleineKRoberts, @aaronhaefner

Adding roles column to db
  new_arrivals_chi/app/database.py
Owners: @MadeleineKRoberts, @aaronhaefner

Models m4 (#88)
  docs/models/data_model.md
  docs/models/model.md
Owners: @MadeleineKRoberts, @aaronhaefner

Adding created_at, deleted_at, etc
  new_arrivals_chi/app/database.py
Owners: @MadeleineKRoberts, @aaronhaefner

Adding more required columns
  new_arrivals_chi/app/database.py
Owners: @MadeleineKRoberts, @aaronhaefner

use python 3.10 for ipython, add bs4, home page testing
  poetry.lock
  pyproject.toml
  tests/test_app_home.py
Owners: @MadeleineKRoberts, @aaronhaefner, @klinkoberstar

pre-commit file rename
  tests/app_home_test.py
  tests/test_app_home.py
Owners: @aaronhaefner, @klinkoberstar

update deprecated argument in soup
  tests/app_home_test.py
Owners: @aaronhaefner, @klinkoberstar

add base test class, split off home page tests
  tests/app_home_test.py
  tests/base_test.py
Owners: @aaronhaefner, @klinkoberstar

Update model.md
  docs/models/model.md
Owners: @MadeleineKRoberts, @aaronhaefner

add conftest file for shared fixtures
  tests/conftest.py
Owners: @aaronhaefner, @klinkoberstar

pytest-flask refactor to use shared fixtures
  tests/app_home_test.py
Owners: @aaronhaefner, @klinkoberstar

delete base file
  tests/base_test.py
Owners: @aaronhaefner, @klinkoberstar

code cleanup and rename app dup object
  tests/app_home_test.py
  tests/conftest.py
Owners: @aaronhaefner, @klinkoberstar

expand readme to discuss new testing framework
  tests/readme.md
Owners: @aaronhaefner, @klinkoberstar

update poetry env with pytest-flask
  poetry.lock
  pyproject.toml
Owners: @MadeleineKRoberts, @aaronhaefner, @klinkoberstar

delete example test now that we have real ones
  tests/example_test.py
Owners: @aaronhaefner, @klinkoberstar

Second migration ready
  new_arrivals_chi/app/migrations/versions/2024-04-26-1704_56a8e2512e2b_adding_created_by_deleted_by_created_at_.py
Owners: @MadeleineKRoberts, @aaronhaefner

Change cloud storage listed (#89)
  docs/models/model.md
Owners: @MadeleineKRoberts, @aaronhaefner

add updated data model
  data_model.md
  docs/architecture.md
  docs/changelog.md
  docs/models/data_model.md
Owners: @klinkoberstar, @FedericoDM, @MadeleineKRoberts, @aaronhaefner

add update link
  docs/index.md
Owners: @MadeleineKRoberts, @aaronhaefner

M4 final edits - updates architecture, data model, and minor edits to decision (#91)
  data_model.md
  docs/architecture.md
  docs/changelog.md
  docs/decisions/authentication.md
  docs/decisions/backend_framework.md
  docs/endpoints/admin.md
  docs/endpoints/general_info.md
  docs/endpoints/health.md
  docs/endpoints/home.md
  docs/endpoints/index.md
  docs/endpoints/legal.md
  docs/endpoints/organization.md
  docs/index.md
  docs/models/data_model.md
Owners: @klinkoberstar, @FedericoDM, @MadeleineKRoberts, @aaronhaefner

Linting
  data_model.md
Owners: @klinkoberstar, @FedericoDM

added doc strings to main
  new_arrivals_chi/app/main.py
Owners: @MadeleineKRoberts, @aaronhaefner

Added references to docstrings
  new_arrivals_chi/app/templates/base.html
  new_arrivals_chi/app/templates/login.html
  new_arrivals_chi/app/templates/signup.html
Owners: @MadeleineKRoberts, @aaronhaefner

pre-commit changes
  new_arrivals_chi/app/main.py
Owners: @MadeleineKRoberts, @aaronhaefner

docstrings file
  docs/style_templates/docstrings.md
Owners: @MadeleineKRoberts, @aaronhaefner

spelling
  docs/style_templates/docstrings.md
Owners: @MadeleineKRoberts, @aaronhaefner

precommit
  docs/style_templates/docstrings.md
Owners: @MadeleineKRoberts, @aaronhaefner

Add location relationship to Organizations and viceversa
  new_arrivals_chi/app/database.py
Owners: @MadeleineKRoberts, @aaronhaefner

Added org_id FK to location
  new_arrivals_chi/app/database.py
Owners: @MadeleineKRoberts, @aaronhaefner

Adding org id
  new_arrivals_chi/app/database.py
Owners: @MadeleineKRoberts, @aaronhaefner

Run second data migration to address missing relationships and foreign keys
  new_arrivals_chi/app/migrations/versions/2024-04-27-1843_1e3c8e6e7d23_adding_missing_foreign_keys.py
Owners: @MadeleineKRoberts, @aaronhaefner

Linting migration file
  new_arrivals_chi/app/migrations/versions/2024-04-27-1843_1e3c8e6e7d23_adding_missing_foreign_keys.py
Owners: @MadeleineKRoberts, @aaronhaefner

Recovering decision files
  docs/decisions/architecture.md
  docs/decisions/database.md
  docs/decisions/server.md
Owners: @MadeleineKRoberts, @aaronhaefner

pytest-flask core fixtures and home page testing (#90)
  poetry.lock
  pyproject.toml
  tests/app_home_test.py
  tests/conftest.py
  tests/example_test.py
  tests/readme.md
Owners: @MadeleineKRoberts, @aaronhaefner, @klinkoberstar

exclude md documents from trailing whitespace hook
  .pre-commit-config.yaml
Owners: @aaronhaefner, @klinkoberstar

add trailing whitespace in tests readme.md
  tests/readme.md
Owners: @aaronhaefner, @klinkoberstar
